body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 64px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background: #2a2a2a;
  color: white;
}

#download-button a {
  color: white;
}

header .app-title {
  margin-left: 1rem;
}

header chart-parameters {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 4rem;
}

chart-parameters span {
  padding: 0 5px;
}

chart-parameters #render-button {
  position: absolute;
  top: 15px;
  right: 8px;
}

.button {
  background: rgb(66, 139, 202);
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.button.disabled {
  cursor: not-allowed;
  background: rgba(66, 139, 202, 0.6);
}

.button:not(.disabled):active,
.button:not(.disabled):hover {
  background: #337ab7;
}

.input-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

header label,
header .help-icon {
  margin: 0 1rem;
}

header .help-icon {
  cursor: pointer;
}

header .help-icon:hover {
  color: #428bca;
}

.swal2-popup .swal2-title {
  text-transform: capitalize;
}

.spacer-1 {
  flex: 1;
}

.spacer-2 {
  flex: 3;
}

chart-wrapper {
  width: 100%;
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
}

#myChart {
  display: none;
  height: 100%;
  width: 100%;
}

#intro-message {
  font-weight: 300;
  font-size: 28px;
  color: white;
}

#back-button {
  display: none;
  position: absolute;
  top: 5rem;
  left: 2rem;
}

#back-button.show {
  display: block;
}

#back-button.show:hover {
  background: #4f81bc;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
